{{- $u := urls.Parse .Destination -}}
  {{- with .Title }} title="{{ . }}" {{ end -}}
  {{- if hasPrefix .Destination "mailto:" -}}
    <a href="{{ .Destination | safeURL }}" {{- with .Title }} title="{{ . }}" {{ end -}}>
      {{- with .Text }} 
        {{ . }} 
      {{- end -}}
    </a>
  {{- else -}}
    <a href="{{ .Destination | safeURL }}"
    {{- if $u.IsAbs }} rel="external nofollow noreferrer" target="_blank" aria-label="{{- with .Text }} {{ . }} {{- end -}} (opens in a new tab)" {{ end -}} >
    {{- with .Text }} 
      {{ . }}
      {{- if $u.IsAbs }} 
        <span style="vertical-align: super; display: inline-block; font-size: 0.7rem; font-weight: 200;" >
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </span>
      {{ end -}}
    {{ end -}}
    </a>
  {{- end -}}

