{{ define "main" }}
<!-- this layout is used by the series branch page to list series-es-es -->
<article class="list-page">
  {{ with .Resources.Get "image-header.png" }}
    <div class="home-image">
      {{ with .Process "resize 900x200 CatmullRom webp photo q100" }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Header Image" />
      {{ end }}
    </div>

  {{ end }}
 
  {{ if .Resources.Get "image-header.png"}}
    <h3 class="subtitle"><i class="fa-solid fa-layer-group"></i> {{ .Params.Subtitle}}</h3>
  {{ end }}

  {{ .Content }}
  <ul class="article-list">
    {{ range where .Paginator.Pages "Type" "!=" "page" }}
      <li class="article-list-item">
        {{ with .Params.postIMG }} {{ $image := . }}
        <div class="article-image">
          <img src="{{ . | relURL }}" alt="{{ . }}" />
        </div>
        {{ end }}
        <div class="article-content-right">
          <div class="article-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </div>
          <div class="article-meta">
            <div>
              <i class="fa-solid fa-calendar-days"></i>
              {{ .PublishDate.Format "Jan 2, 2006" }}
            </div>
            <div>
              <i class="fa-solid fa-clock"></i>
              {{ .ReadingTime }} min read
            </div>
            {{- with .Params.categories}}
            <div>
              <i class="fa-solid fa-list"></i>
              {{- range . -}} {{ with $.Site.GetPage (printf "/%s/%s" "categories" . ) }}
              <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>, {{- end }} 
              {{- end }}
            </div>
            {{- end }} {{- with .Params.tags }}
            <div>
              <i class="fa-solid fa-tags"></i>
              {{- range . -}} {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
              <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
              {{- end }} 
              {{- end }}
            </div>
            {{- end }}
          </div>
          <div class="article-description">
            {{ .Summary }} {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">More ...</a>
            {{ end }}
          </div>
        </div>
      </li>
    {{ end }}
  </ul>
</article>
{{ end }}
