{{ define "main" }}
<!-- this layout is used by the series branch page to list out the all series -->
<article class="cat">
  <div class="home-image">
    {{ with .Resources.Get "image-header.png" }} 
    {{ with .Process "resize 900x200 CatmullRom webp photo q99" }}
    <img
      src="{{ .RelPermalink }}"
      width="{{ .Width }}"
      height="{{ .Height }}"
      alt=""
    />
    {{ end }} {{ end }}
  </div>
  <h2 class="subtitle">
    <i class="fa-solid fa-layer-group"></i> {{ .Params.Subtitle}}
  </h2>
  {{ .Content }}
  <ul class="cat-list">
    {{ range .Data.Terms.Alphabetical }}
    <li class="cat-list-item">
      <a class="cat-list-item-link" href="{{ .Page.RelPermalink }}">
        <div class="cat-list-img">
          {{ with .Page.Resources.Get "image.png" }} 
          {{ with .Process "resize 90x CatmullRom webp photo q99" }}
          <img
            src="{{ .RelPermalink }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
            alt=""
          />
          {{ end }} {{ end }}
        </div>
        <div class="cat-list-item-info">
          <div class="cat-list-item-title">{{ .Page.Title }}</div>
          (This series has {{ .Count }} pages)
          <!-- if there a series description. show it -->
          {{ with .Page.Content }} {{ . }} {{ end }}
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
</article>
{{ end }}
