<!doctype html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body data-theme="dark">
    <div class="layout">
      {{- partial "sidebar.html" . -}} {{- partial "header.html" . -}}
      <main class="main">{{- block "main" . -}} {{- end -}}</main>
    </div>
{{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true, theme: 'forest' });
  </script>
{{ end }}
  </body>
</html>
