{{- define "main" -}}
<!-- /layouts/_default/list.html {{ .Data.Term }} {{ .Kind }} {{ .Section }} {{ .Type }} -->
<!-- this layout is used to list the articles on the site and the default used by any future list pages-->
<article class="list-page">
  {{- with .Resources.Get "image-header.png" }}
  <div class="home-image">
    {{- with .Process "resize 900x200 CatmullRom webp photo q100" }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Header Image" />
    {{ end -}}
  </div>
  {{ end -}}

  {{- if .Resources.Get "image-header.png"}}
  <h3 class="subtitle">{{ .Params.Subtitle }}</h3>
  {{ end -}}

  {{- if .Params.description }}
  {{ end -}}

  {{ .Content }}
  <ul class="article-list">
    {{ $pages := .Pages }}
    {{- if and (eq .Kind "term") (eq .Data.Plural "series") }}
    {{ $pages = sort $pages "Date" }}
    {{ end -}}
    {{- $paginator := .Paginate (where $pages "Type" "!=" "page") -}}
    {{- range $paginator.Pages -}}
    <li class="article-list-item">
      {{- with .Params.postIMG }}
      {{- $image := . -}}
      <div class="article-image">
        <img src="{{ . | relURL }}" alt="{{ . }}" />
      </div>
      {{ end -}}
      <div class="article-content-right">
        <div class="article-title">
          <a href="{{ .RelPermalink }}"><h3>{{ .Title }}</h3></a>
        </div>
        <div class="article-meta">
          <div>
            <i class="fa-solid fa-calendar-days"></i> {{ .PublishDate.Format "Jan 2, 2006" }}
          </div>
          <div>
            <i class="fa-solid fa-clock"></i>
            {{ .ReadingTime }} min read
          </div>
          {{- with .Params.categories }}
          <div>
            <i class="fa-solid fa-list"></i>
            {{- range . -}}
            {{- with $.Site.GetPage (printf "/%s/%s" "categories" . ) }}
            <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end -}}
            {{- end -}}
          </div>
          {{ end -}}
          {{- with .Params.tags }}
          <div>
            <i class="fa-solid fa-tags"></i>
            {{- range . -}}
              {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
              {{ end -}}
            {{- end -}}
          </div>
          {{- end -}}
          {{- $article := . -}}
          {{- with $article.Params.series }}
            <div>
              <i class="fa-solid fa-layer-group"></i>
              {{- range $seriesName := . -}}
                {{- with $.Site.GetPage (printf "/series/%s" $seriesName) }}
                  <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ end -}}
                {{- $currentSeries := index $.Site.Taxonomies.series ($seriesName | urlize) -}}
                {{- if $currentSeries }}
                  {{- $total := len $currentSeries.Pages -}}
                  {{- $articleNumber := 0 -}}
                  {{- range $index, $page := $currentSeries.Pages -}}
                    {{- if eq $page.RelPermalink $article.RelPermalink }}
                      {{- $articleNumber = sub $total $index -}}
                    {{ end -}}
                  {{- end -}}
                    (#{{ $articleNumber }} of {{ $total }})
                {{ end -}}
              {{- end -}}
          </div>
          {{ end -}}
          <a href="{{ .RelPermalink }}">
            <div class="article-description">
              {{ .Summary }}
            </div>
          </a>
        </div>
    </li>
    {{- end -}}
  </ul>
  {{ template "_internal/pagination.html" . }}
</article>
{{- end -}}
