{{ define "main" }}
/layouts/_default/single.html
<article class="post">
    <div class="post-header">
      <h1 class ="post-title">{{ .Title }}</h1>
      {{- if ne .Type "page" }}
        <div class="article-meta">
          <div>
            <i class="fa-solid fa-calendar-days"></i>
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </div>
          <div>
            <i class="fa-solid fa-file-lines"></i>
            {{ .WordCount }} words 
          </div>
          {{- with .Params.categories}}
          <div>
            <i class="fa-solid fa-list"></i>
            {{- range . -}}
                {{ with $.Site.GetPage (printf "/%s/%s" "categories" . ) }}
                  <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{- end }}
            {{- end }}
          </div>
          {{- end }}
          {{- with .Params.tags }}
            <div>
              <i class="fa-solid fa-tags"></i>
              {{- range . -}}
                {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                  <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{- end }}
              {{- end }}
            </div>
          {{- end }}

          {{- with .Params.series }}
            <div>
              <i class="fa-solid fa-layer-group"></i>
              Series:
              {{- range $seriesName := . -}}
                {{ with $.Site.GetPage (printf "/%s/%s" "series" $seriesName ) }}
                  <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
               {{- end }}
            
              {{ $currentSeries := index $.Site.Taxonomies.series ($seriesName | urlize) }}
              {{ if $currentSeries }}
                {{ $total := len $currentSeries.Pages }}
                {{ range $index, $page := $currentSeries.Pages }}
                  {{ if eq $page.Permalink $.Permalink }}
                    {{ $articleNumber := add $index 1 }}
                        (Article {{ $articleNumber }} of {{ $total }})
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{- end }}
            </div>
          {{- end }}
        
        </div>
        {{- end }}
    </div>
    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="post-footer">
    </div>
    {{- if .Params.series -}}
    <div class="post-series-bottom">
      {{ partial "series.html" . }}
    </div>
    {{- end -}}
  </article>
{{ end }}
