{{ define "main" }}
<article class="post">
    <div class="post-header">
      <h1 class ="post-title">{{ .Title }}</h1>
      {{- if ne .Type "page" }}
        <div class="article-meta">
          <div>
            <i class="fa-solid fa-calendar-days"></i>
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </div>
          <div>
            <i class="fa-solid fa-clock"></i>
            {{ .ReadingTime }} min read
          </div>
          {{- with .Params.categories}}
          <div>
            <i class="fa-solid fa-list"></i>
            {{- range . -}}
                {{ with $.Site.GetPage (printf "/%s/%s" "categories" . ) }}
                  <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{- end }}
            {{- end }}
          </div>
          {{- end }}
          {{- with .Params.tags }}
            <div>
              <i class="fa-solid fa-tags"></i>
              {{- range . -}}
                {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                  <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{- end }}
              {{- end }}
            </div>
          {{- end }}
        </div>
        {{- end }}
    </div>
    <div class="post-content">
    {{ with .RawContent }}
      {{ $content := . }}
      {{ $content = replaceRE "\\s*\\{#[^}]+\\}" "" $content }}
      {{ $content = replaceRE "\\n" "<br/>" $content }}
      {{ $content | safeHTML }}
    {{ end }}
    </div>
    <div class="post-footer">
    </div>
  </article>
{{ end }}
