<nav class="nav">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ $icon := printf "<i class=\"fa-solid %s\"></i>" .Pre }}
      {{ $text := print $icon " " .Name | safeHTML }}
      {{ $isActive := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)
      ($currentPage.RelPermalink | hasPrefix .URL) }}
      <li{{ if $isActive }} class="active" {{ end }}>
        <a href="{{ .URL }}">{{ $text }}</a>
      </li>
    {{ end }}
  </ul>
</nav>