{{- with (.GetTerms "series") -}}
    {{- range . -}}

        {{- $series := .Pages.ByDate -}}
        <details>
        <summary>
            <span>
                All articles in the <strong>"{{ .Title }}"</strong> series
            </span>
        </summary>
        <ol>
        {{- range $series -}}
            <li>
                {{- if eq .File.UniqueID $.File.UniqueID -}}
                    <b>{{ .Title }}</b>
                {{- else -}}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{- end -}}
            </li>
        {{- end -}}
        </ol>
        </details>
    {{- end -}}
{{- end -}}